* {
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  background: url(../images/xwing.jpg) wheat;
  color: #121212;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 1.5em;
  margin-left: 70%;
}

h2 {
  margin: 0.3rem;
  font-size: 1.2em;
}

h3 {
  text-align: center;
  font-size: 0.9em;
}

.char-box {
  display: inline-block;
  background: #efefef;
  margin: 0.2%;
  padding: 0.2em 1em;
}

.char-img {
  width: 100px;
  height: 70px;
}

/* .char-box-initial {
  display: inline-block;
  background: #efefef;
  margin: 0.2%;
  padding: 0.2em 1em;
} */

/*** The following classes are dynamically added ***/

/* Your Character */
.char-box-you {
  background: #efefef;
  border: 3px solid green;
}

/* Enemies Available To Attack */
.char-box-enemy {
  background: red;
  color: black;
  border: "none";
}

/* Defender */
.char-box-defender {
  background: black;
  color: white;
  border: 3px solid green;
}
